$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// font-family: 'Dosis', sans-serif;
// font-family: 'News Cycle', sans-serif;

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.logo {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5%;
}

.menu {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-left: 17%;
}
hr {
  margin-left: 5%;
  margin-right: 5%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  margin-left: -3%;
}

h1 {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 5%;
}

.image {
  overflow: hidden;
  position: relative;
  height: 300px;
  width: auto;
  margin-left: 30%;
}

.texte {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.contribute {
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5%;
  color: orange;
}

.contri {
  font-family: 'News Cycle', sans-serif;
  margin-left: 38%;
  margin-top: 10%;
}

.up {
  color: orange;
}

.down {
  color: orange;
  margin-left: -3%;
}
.send {
  color: orange;
}

.bienvenu {
  font-size: 75px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin-top: 15%;
}
