$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// font-family: 'Dosis', sans-serif;
// font-family: 'News Cycle', sans-serif;

// .grid {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     grid-gap: 10px;
// }
//
// .logo {
//   font-family: 'Dosis', sans-serif;
// }
//
// .menu {
//   font-family: 'News Cycle', sans-serif;
